extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/algodijkstrastyle.css
block content
    h1  Dijkstra Algorithm With Multiple Edges
    include algodijkstra.html
    h2  Here are some follow-up problems and ideas
    .container 
        ol 
            li #[a(href = 'https://codeforces.com/contest/20/problem/C') Dijkstra? - Codeforces]