<pre style='color:#000000;background:#ffffff;'>    <span style='color:#7f0055; font-weight:bold; '>const</span>  <span style='color:#7f0055; font-weight:bold; '>int</span>  infinity  =  1e9;

    <span style='color:#7f0055; font-weight:bold; '>void</span>  dijkstra(<span style='color:#7f0055; font-weight:bold; '>void</span>){
        
        <span style='color:#7f0055; font-weight:bold; '>int</span>  n,  m;
        
        <span style='color:#7f0055; font-weight:bold; '>cin</span>  >>  n  >>  m;
        
        <span style='color:#7f0055; font-weight:bold; '>map</span>  &lt;<span style='color:#7f0055; font-weight:bold; '>pair</span>  &lt;<span style='color:#7f0055; font-weight:bold; '>int</span>,  <span style='color:#7f0055; font-weight:bold; '>int</span>>  ,  <span style='color:#7f0055; font-weight:bold; '>int</span>>  multiple_edges;
        
        <span style='color:#7f0055; font-weight:bold; '>vector</span>  &lt;<span style='color:#7f0055; font-weight:bold; '>int</span>>  adj[n  +  1];
        
        <span style='color:#7f0055; font-weight:bold; '>while</span>(m--){
            
            <span style='color:#7f0055; font-weight:bold; '>int</span>  u,  v,  w;
            
            <span style='color:#7f0055; font-weight:bold; '>cin</span>  >>  u  >>  v  >>  w;
            
            adj[u].pb(v);
            
            adj[v].pb(u);
            
            <span style='color:#7f0055; font-weight:bold; '>int</span>  A  =  <span style='color:#7f0055; font-weight:bold; '>min</span>(u,  v);
            
            <span style='color:#7f0055; font-weight:bold; '>int</span>  B  =  <span style='color:#7f0055; font-weight:bold; '>max</span>(u,  v);
            
            <span style='color:#7f0055; font-weight:bold; '>if</span>(multiple_edges.<span style='color:#7f0055; font-weight:bold; '>find</span>(mp(A,  B))  ==  multiple_edges.end()){
                
                multiple_edges[mp(A,  B)]  =  w;
                
            }
            <span style='color:#7f0055; font-weight:bold; '>else</span>{
                
                multiple_edges[mp(A,  B)]  =  <span style='color:#7f0055; font-weight:bold; '>min</span>(multiple_edges[mp(A,  B)],  w);
                
            }
            
        }
        
        <span style='color:#7f0055; font-weight:bold; '>map</span>  &lt;<span style='color:#7f0055; font-weight:bold; '>int</span>,  <span style='color:#7f0055; font-weight:bold; '>int</span>>  parent;
        
        <span style='color:#7f0055; font-weight:bold; '>int</span>  source  =  1;
        
        <span style='color:#7f0055; font-weight:bold; '>vector</span>  &lt;<span style='color:#7f0055; font-weight:bold; '>int</span>>  dist(n  +  1,  infinity);
        
        dist[source]  =  0;
        
        <span style='color:#7f0055; font-weight:bold; '>priority_queue</span>&lt;<span style='color:#7f0055; font-weight:bold; '>pair</span>&lt;<span style='color:#7f0055; font-weight:bold; '>int</span>,  <span style='color:#7f0055; font-weight:bold; '>int</span>>,  <span style='color:#7f0055; font-weight:bold; '>vector</span>&lt;<span style='color:#7f0055; font-weight:bold; '>pair</span>&lt;<span style='color:#7f0055; font-weight:bold; '>int</span>,  <span style='color:#7f0055; font-weight:bold; '>int</span>>  >,  <span style='color:#7f0055; font-weight:bold; '>greater</span>&lt;<span style='color:#7f0055; font-weight:bold; '>pair</span>&lt;<span style='color:#7f0055; font-weight:bold; '>int</span>,  <span style='color:#7f0055; font-weight:bold; '>int</span>>  >  >  pq;
        
        pq.push(<span style='color:#ffffff; background:#dd0000; font-weight:bold; font-style:italic; '>{</span>dist[source],  source<span style='color:#ffffff; background:#dd0000; font-weight:bold; font-style:italic; '>}</span>);
        
        <span style='color:#7f0055; font-weight:bold; '>while</span>(!pq.empty()){
            
            <span style='color:#7f0055; font-weight:bold; '>int</span>  u  =  pq.top().second;
            
            pq.pop();
            
            <span style='color:#7f0055; font-weight:bold; '>for</span>(<span style='color:#7f0055; font-weight:bold; '>int</span>  v  :  adj[u]){
                
                <span style='color:#7f0055; font-weight:bold; '>int</span>  w  =  multiple_edges[mp(<span style='color:#7f0055; font-weight:bold; '>min</span>(u,  v),  <span style='color:#7f0055; font-weight:bold; '>max</span>(u,  v))];
                
                <span style='color:#7f0055; font-weight:bold; '>if</span>(dist[u]  +  w  &lt;  dist[v]){
                    
                    parent[v]  =  u;
                    
                    dist[v]  =  dist[u]  +  w;
                    
                    pq.push(<span style='color:#ffffff; background:#dd0000; font-weight:bold; font-style:italic; '>{</span>dist[v],  v<span style='color:#ffffff; background:#dd0000; font-weight:bold; font-style:italic; '>}</span>);
                    
                }
                
            }
            
        }

        <span style='color:#7f0055; font-weight:bold; '>if</span>(dist[n]  ==  infinity){
            
            <span style='color:#7f0055; font-weight:bold; '>cout</span>  &lt;&lt;  -1  &lt;&lt;  <span style='color:#7f0055; font-weight:bold; '>endl</span>;
            
            <span style='color:#7f0055; font-weight:bold; '>return</span>;
            
        }

        <span style='color:#7f0055; font-weight:bold; '>vector</span>  &lt;<span style='color:#7f0055; font-weight:bold; '>int</span>>  path;

        <span style='color:#7f0055; font-weight:bold; '>int</span>  now  =  n;

        path.pb(n);

        <span style='color:#7f0055; font-weight:bold; '>while</span>(parent[now]  !=  source){
            
            path.pb(parent[now]);
            
            now  =  parent[now];
            
        }

        path.pb(1);

        <span style='color:#7f0055; font-weight:bold; '>reverse</span>(path.begin(),  path.end());
        
        <span style='color:#7f0055; font-weight:bold; '>for</span>(<span style='color:#7f0055; font-weight:bold; '>int</span>  x  :  path)  {
            
            <span style='color:#7f0055; font-weight:bold; '>cout</span>  &lt;&lt;  x  &lt;&lt;  <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>  </span><span style='color:#2a00ff; '>"</span>;
            
        }

    }
</pre>