doctype html 
html 
    head 
        title Template Finder 
        block scripts 
        block style
    body
        div.all
            nav#navbar
                ul
                    div#logo
                        img(src="/static/logo.png")
                    li #[a(href = '/') Home]
                    li #[a(href = '/about') About]
                    li #[a(href = '/explore') Explore]
                    li #[a(href = '/contribute') Contribute]
            input(type="text", id='mysearchinput', onkeyup='search()', placeholder=' Search for your template ')
        ul#myurl
            li #[a(href = '/explore/minimumandmaximumspanningtree') Minimum And Maximum Spanning Tree]
            li #[a(href = '/explore/dijkstraalgorithmwithmultipleedges') Dijkstra Algorithm With Multiple Edges]
        block content
    footer#footer 
        div#fourth   
        |   Template Finder (c) Copyright 2021-2023 | All rights reserved
    div#looter 
        div#fifth
        |    Server time : #{moment().format()}                     
