doctype html
head
    style
        include ../static/style.css
body
    section#introsection 
        div#first One stop for all your boundless search for the templates!
        div#second From Insertion Sort to FFT, we have got you all covered!
    
    section#membersection
            h2 Our Mission
            div#below 
                div.card
                    h3 Algorithm Mastery
                    div.card-box
                        div.card-img
                            img(src="/static/1.jpg")
                        div.card-content
                            p We provide you template assisted with comprehensive comments.

                div.card
                    h3 Code Compile and Run
                    div.card-box
                        div.card-img
                            img(src="/static/2.jpg")
                        div.card-content
                            p You can always test your code on our <b> IDE. </b>
                div.card
                    h3 Practice Problems
                    div.card-box
                        div.card-img
                            img(src="/static/3.jpg")
                        div.card-content
                            p A list of competitive programming problems with that tag.
    
    footer#footer 
        div#fourth   
        |   Template Finder (c) Copyright 2010-2021 | All rights reserved
    div#looter 
        div#fifth
        |   Server time :   

    script
        include ../static/index.js